@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    margin: 0;
    overflow-x: hidden;
}
/*
---------------------------------------------
Fönster mindre än gränsen
Mobil
*/

@media screen and (max-width: 500px) {

#container{
    display: grid;
    margin: 0px;
    grid-template-columns: 41vw 59vw;
    grid-template-rows: 28vh 34vh 35vh 15vh;
    grid-template-areas: 
    'header header'
    'aside1 aside2'
    'main main'
    'footer footer'
}



header{
    grid-area: header;
    background-color: beige;
    font-family: "Open Sans", sans-serif;
}

aside1{
    grid-area: aside1;
    background-color: rgb(248,244,244)
}

aside2{
    grid-area: aside2;
    background-color: rgb(248,244,244);
    font-family: "Open Sans", sans-serif;
}

main{
    grid-area: main;
    background-color: rgb(248,244,244);
}

footer{
    grid-area: footer;
    background-color: chartreuse;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 100%;
}

.godisdjurcom_text{
    height: 100%;
    width: 100%;
}



}
/*
Fönster mindre än gränsen
Mobil
----------------------------------------------
Fönster större än gränsen
Desktop
*/

@media screen and (min-width: 500px) {

    #container{
        display: grid;
        margin: 0px;
        grid-template-columns: 41vw 59vw;
        grid-template-rows: 20vh 50vh 50vh 15vh;
        grid-template-areas: 
        'header header'
        'aside1 aside2'
        'main main'
        'footer footer'
    }
    
    
    header{
        grid-area: header;
        background-color: beige;
    }
    
    aside1{
        grid-area: aside1;
        background-color: rgb(248,244,244);;
    }
    
    aside2{
        grid-area: aside2;
        background-color: brown;
        font-family: "Open Sans", sans-serif;
        font-size: 250%;
    }
    
    main{
        grid-area: main;
        background-color: rgb(248,244,244);;
    }
    
    footer{
        grid-area: footer;
        font-family: "Open Sans", sans-serif;
        background-color: chartreuse;
    }
    
    img{
        width: 100%;
    }
    
    .godisdjurcom_text{
        height: 100%;
        width: 100%;
    }

    .fade-layer.visible{
        display: none;
    }

    h1{
        font-family: "Open Sans", sans-serif;
        font-size: larger;
    }    
}

/*
Fönster större än gränsen
Desktop
---------------------------------------------
Annan kod
Både Mobil och Desktop
*/ 



h2{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

h3{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}



.menu{
    height: 100vh;
    width: 35vw;
    background-color: red;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button span{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


/*
-----------------------------------------------------------------------
Frukt Sidan 
*/

@media screen and (max-width: 500px) {
    #fruitcontainer{
    display: grid;
    margin: 0px;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 20vh 65vh 15vh;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'
    }

    #fruitcontainer img{
    height: 55%;

    width: 55%;
    margin-left: 20%;
    }

    .banan_text{
    font-family: "Open Sans", sans-serif;
    margin: auto;
    }

    .jordgubb_text{
    font-family: "Open Sans", sans-serif;
    margin-top: 25%;
    }

    .plommon_text{
    font-family: "Open Sans", sans-serif;
    margin-top: 25%;
    }

    .truck{
    width: 25%;
    margin-left: 38%;
    }

    .fruitheadertext{
        font-family: "Open Sans", sans-serif;
        width: 95vw;
    }

    .fruittext{
        font-family: "Open Sans", sans-serif;
        width: 60vw;
        color: rgb(248,244,244);
    }

    .fruitpictures{
        justify-content: left;
        margin-top: 8vh;
        height: 25vh;
    }

    .fruitmargins{
        margin-top: 7vh;
    }
}

@media screen and (min-width: 500px) {

    #fruitcontainer{
        display: grid;
        margin: 0px;
        grid-template-columns: 35vw 65vw;
        grid-template-rows: 15vh 80vh 25vh;
        grid-template-areas: 
        'header header'
        'main aside'
        'footer footer'
        }

        aside{
            font-family: "Open Sans", sans-serif;
            background-color: blueviolet;
        }
    
        #fruitcontainer img{
        height: 55%;
    
        width: 55%;
        margin-left: 20%;
        }
    
        .banan_text{
        font-family: "Open Sans", sans-serif;
        margin: auto;
        }
    
        .jordgubb_text{
        font-family: "Open Sans", sans-serif;
        margin-top: 25%;
        }
    
        .plommon_text{
        font-family: "Open Sans", sans-serif;
        margin-top: 25%;
        }
    
        .truck{
        width: 25%;
        margin-left: 38%;
        }
    
        .fruitheadertext{
            font-family: "Open Sans", sans-serif;
            width: 95vw;
        }
    
        .fruittext{
            font-family: "Open Sans", sans-serif;
            width: 60vw;
            color: rgb(248,244,244);
        }
    
        .fruitpictures{
            justify-content: left;
            margin-top: 8vh;
            height: 35vh;
        }
    
        .fruitmargins{
            margin-top: 7vh;
        }
}

/*
Frukt sidan
-----------------------------------------------------------------------
Djur sidan
*/

@media screen and (max-width: 500px) {

    #animalcontainer{
    display: grid;
    margin: 0px;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 45vh 20vh 20vh;
    grid-template-areas:
    'header'
    'main'
    'aside'
    'footer'
    }

    h1{
        font-family: "Open Sans", sans-serif;
        font-size: 100%;
    }

    .animal_rows{
    text-align: center;
    }

    .animal_first_row{
    width: 100px;
    margin: 10px;
    justify-content: space-around;
    display: inline-block;
        }

    .animal_second_row{
    width: 100px;
    margin: 10px;
    justify-content: right;
    display: inline-block;
    }

    .animal_third_row{
    width: 100px;
    margin: 10px;
    justify-content: right;
    display: inline-block;
    }

    p{
        font-family: "Open Sans", sans-serif;
        font-size: 120%;
        color: rgb(248,244,244);
    }
}

@media screen and (min-width: 500px){
    
    #animalcontainer{
        display: grid;
        margin: 0px;
        grid-template-columns: 100vw;
        grid-template-rows: 12vh 45vh 0vh 43vh;
        grid-template-areas:
        'header'
        'main'
        'aside'
        'footer'
        }
    
        .animal_rows{
        text-align: center;
        }
    
        .animal_first_row{
        width: 115px;
        margin: 10px;
        justify-content: space-around;
        display: inline-block;
            }
    
        .animal_second_row{
        width: 115px;
        margin: 10px;
        justify-content: right;
        display: inline-block;
        }
    
        .animal_third_row{
        width: 115px;
        margin: 10px;
        justify-content: right;
        display: inline-block;
        }

        p{
            font-family: "Open Sans", sans-serif;
            font-size: 120%;
        }
}

/*
---------------------------------------------------------------
Animal Special
*/

@media screen and (max-width: 500px) {

    #animalspecial{
    display: grid;
    margin: 0px;
    grid-template-columns: 100%;
    grid-template-rows: 28vh 50vh 20vh 20vh;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer'
    }

    main{
        background-color: rgb(44,44,44)
    }

    aside{
    grid-area: aside;
    font-family: "Open Sans", sans-serif;
    background-color: blueviolet;
    }

    .h2special{
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    color: rgb(248,244,244);
    }

    .avforing{
    height: 80%;
    width: 80%;
    display: flex;
    position: relative;
    left: 10%;
    top: 10%;
    }

    h2{
        font-size: 80%;
    }
}   

@media screen and (min-width: 500px) {

    #animalspecial{
    display: grid;
    margin: 0px;
    grid-template-columns: 100%;
    grid-template-rows: 18vh 50vh 0vh 32vh;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer'
    }

    main{
        background-color: rgb(44,44,44)
    }

    aside{
    font-family: "Open Sans", sans-serif;
    grid-area: aside;
    background-color: blueviolet;
    }

    h1{
        font-size: 80%;
    }

    .h2special{
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    color: rgb(248,244,244);
    }

    .avforing{
    height: 80%;
    width: 80%;
    display: flex;
    position: relative;
    left: 10%;
    top: 10%;
    }

    h2{
        font-size: 90%;
    }
}   

